<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>GIS Dataset Brasil</h1>
        <h2>Geographic Information Systems (GIS) - Brasil <br /> Coleção de shapefiles, GeoJSON e TopoJSON prontas para uso</h2>
        <a href="https://github.com/fititnt/gis-dataset-brasil" class="button"><small>Ver projeto no</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <main id="main-content">
          {{ content }}
        </main>

        <footer id="sidebar">
          <a href="https://github.com/fititnt/gis-dataset-brasil/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/fititnt/gis-dataset-brasil/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner">
            Mantido por <a href="https://github.com/fititnt">Emerson Rocha Luiz</a>.<br />
            E-mail <a href="#">emerson em alligo.com.br</a>
          </p>

          <p>Design de <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </footer>
      </div>
    </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-37321963-3', 'fititnt.github.io');
    ga('send', 'pageview');
  </script>
  </body>
</html>